@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;800&family=Roboto:wght@300;500;900&display=swap");

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --color-purple: #9b59b6;
  --color-blue: #3498db;
  --color-dark-grey: #18191a;
  --color-lighter-grey: #242526;
  --color-lighter-grey-border: #333536;

  --transition-time: 400ms;
  --transition-curve: ease-in-out;
}

body,
html {
  font-family: "Open Sans", sans;
  background: var(--color-dark-grey);
}

* {
  box-sizing: border-box;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 5vh;
  background: var(--color-lighter-grey);
  border-bottom: 1px solid var(--color-lighter-grey-border);
}

.nav .links {
  text-align: right;
}

.nav .links span {
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 1rem;
  font-size: 1.5em;
  cursor: pointer;
}

.nav .links span:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.nav .links span:first-of-type {
  margin-left: 0;
}

.game {
  padding: 10px;
  height: 95vh;
}

.wrapper {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.left {
  width: 50%;
}

.right {
  width: 30%;
}

.lr + .lr {
  border-left: 3px solid var(--color-lighter-grey-border);
}

.money,
.mps {
  font-family: "Roboto";
  font-weight: 300;
  text-transform: uppercase;
  font-size: 4em;
  text-align: center;
}

.mps {
  margin-top: -1.5rem;
  font-size: 2rem;
}

.clickImg {
  width: 20%;
  cursor: pointer;
  transition: all var(--transition-time) var(--transition-curve);
  margin: 4em auto;
}

.clickImg:active {
  /* transform: translate(-4%); */
  -webkit-animation-name: spin;
  -webkit-animation-duration: var(--transition-time);
  -webkit-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: var(--transition-time);
  animation-timing-function: linear;
}

.upgrades {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.upgrade {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  border-radius: 7px;
  background: var(--color-blue);
  overflow: hidden;
  width: 90%;
  align-self: center;
  transition: all var(--transition-time) var(--transition-curve);
  cursor: pointer;
}

.upgrade:hover {
  opacity: 0.9;
}

.upgrade .icon {
  display: inline-block;
  font-size: 4em;
}

.upgrade .info {
  margin-left: 1em;
  text-align: right;
}

.upgrade .info .name {
  text-transform: uppercase;
}

.upgrade .info .price {
  font-weight: 500;
}
